@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TeleTime</h1>
    <p class="lead">Schedule</p>
    <p><a href="www.TeleTime.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            TeleTime helps you schedule your staff in an easy way.
        </p>
        <p><a class="btn btn-default" href="www.Google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Se other examples</h2>
        <p>Other companies uses TeleTime in their business and they are loving it.</p>
        <p><a class="btn btn-default" href="www.internalLink.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Give us feedback</h2>
        <p>Click the link and send us an response.</p>
        <p><a class="btn btn-default" href="www.internalLink2.com">Send us feedback!&raquo;</a></p>
    </div>
</div>